---

import ServiceCard from "./ServiceCard.astro";
import {servicesContent} from "../content/content";
import {services} from "../data/services";
---

<section id="services" class="py-24 bg-white">
    <div class="max-w-7xl mx-auto px-6 lg:px-12">

        <!-- Header -->
        <div class="text-start mb-16">

            <div class="flex justify-between items-center mb-12">
                <div>
                    <div class="flex items-center gap-2 mb-3 fade-in-up" style="animation-delay: 0.1s;">
                        <span class="text-blue-400 text-lg">✱</span>
                        <span class="text-blue-400 font-semibold tracking-wide uppercase text-sm">{servicesContent.badge.text}</span>
                        <span class="text-blue-400 text-lg">✱</span>
                    </div>
                    <h2 class="text-5xl font-bold text-gray-900 fade-in-up" style="animation-delay: 0.2s;">
                        {servicesContent.heading.main}
                    </h2>
                </div>
            </div>
        </div>

        <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
                    {
                        services.map((service, i) => (
                                <div
                                        data-aos="fade-up"
                                        data-aos-delay={i * 100}
                                >
                                    <ServiceCard
                                            title={service.title}
                                            description={service.shortDesc}
                                            icon={service.icon}
                                            link={"/services/" + service.slug}
                                    />
                                </div>
                        ))
                    }

        </div>


    </div>
</section>
